parameters:
    paths:
        - app
    level: 5
    ignoreErrors:
        - '#Call to an undefined static method App\\Models\\User::(create|where)#'
        - '#Call to an undefined static method App\\Models\\Category::create#'
        - '#Call to an undefined static method App\\Models\\Post::create#'
        - '#Call to an undefined static method App\\Models\\Tag::create#'
        - '#Access to an undefined property App\\Models\\.*\$(id|role|user_id)#'
        - '#PHPDoc type list<string> of property App\\Models\\User::\$attributes is not covariant#'